// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Poppins', sans-serif;


/// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/// Neutral colors
$very-dark-blue: hsl(234, 12%, 34%);
$gray-fish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);


/// Container's maximum width
/// @type Length
$max-width: 1300px !default;